@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$c-1: #f0efe9;
$c-2: #ffffff;
$c-3: #616473;
$c-4: #bdc0ca;
$c-5: #50e3a4;
$c-6: #47c18d;

$button-size: 6rem;

* { Box-sizing: Border-box }

body {
  background-color: $c-1;
  color: $c-3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 2rem;

}

.card {
  background-color: $c-2;
  box-shadow: 5px 5px 6px -4px rgba(207,211,218,0.35);
  margin:auto;
  max-width: 450px;
  min-height: 80vh;
  min-width: 300px;
  padding: 2rem;
  position: relative;
  width: 50%;

}

header {
  display:flex;
  justify-content: space-between;

}
.date-full {
  display: flex;

}

.date-my {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;

}

.date-day {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.3rem;


}
.date-month {
  font-size: 0.8rem;

}
.date-year {
  font-size: 0.8rem;
}

.date-day-week {
  font-size: 0.8rem;
  align-self: center;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 2rem;

}

.list-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.list-li {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

.list-check {
  visibility: hidden;
}

.list-txt {
  cursor: pointer;
  width: 85%;
  transition: all 0.4s;

}

.list-tick {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  border: 3px solid $c-1;
  border-radius: 100%;
  color: $c-2;
  text-align: center;
  transition: all 0.4s;
  padding: 0;
  font-weight: 700;

}

input.list-check[type=checkbox]:checked {

  & + label {
    color: $c-4;
  }

  & + label  .list-tick {
    content:'X';
    border-color: $c-5;
    color: $c-5;
  }
}

.button-add {
  position: absolute;
  bottom: $button-size/2 * -1;
  background-color: $c-5;
  width: $button-size;
  height: $button-size;
  border-radius: 50%;
  text-align: center;
  left:50%;
  transform: translateX($button-size/2 * -1);
  font-size: 3rem;
  line-height: $button-size;
  cursor: pointer;
  z-index: 10;

  a {
    text-decoration: none;
    color: $c-6;
  }

}

.button-add:hover {
  background-color: $c-6;

  a {
    color: $c-2;
  }

}

.add {

  background-color: $c-5;
  bottom: 0;
  height: 80%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: 10;
  display: none;
}

.add-fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

}

.add-button {
  background-color: $c-1;
  border-radius: 10%;
  cursor: pointer;
  margin: 2em;
  padding: 0.8em;

  &:hover {
    background-color: $c-2;
  }

}

.add-task {
  color: $c-3;
  font-size: 1em;
  height: 2rem;
  padding: 1rem;
  width: 80%;


}